{% extends 'base.html' %}

{% block title_content %}
Home
{% endblock %}

{% block content %}
<div class="jumbotron m-2">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Welcome to interviewCreator(iC). <br> iC lets you schedule interviews between participants, edit already created interviews and view your upcoming interviews.
  <br>For more info on how to use iC refer below. </p>
  <hr class="my-4">
  <p>
    <ul>
      <li>For creating an interview click on Create Interview in the navbar above and fill out the given fileds. </li>
      <li>For viewing upcoming interviews click on Interviews in the navbar above.</li>
      <li>For editing interviews, head over to Interviews section, click on the Interview you want to edit to view its details, and then click on Edit Interview.</li>
      <li>For viewing all the participants info click on Participants in the navbar above.</li>
    </ul>
  </p>
</div>
{% endblock %}
